@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #10b981;
  --color-secondary: #34d399;
  --color-tertiary: #a3e635;

  --color-gradient: linear-gradient(
    90deg,
    rgba(14, 30, 3, 1) 0%,
    rgba(13, 12, 22, 1) 50%,
    rgba(6, 34, 19, 1) 100%
  );
}

@layer utilities {
  .bg-gradient {
    background: var(--color-gradient);
    /* -webkit-text-fill-color: transparent; */
  }
}

@layer {
  html {
    height: 100%;
  }
  body {
    height: 100%;
    font-family: 'NanumSquare';
    color: var(--color-white);
    background-color: var(--color-black);
  }
  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-bg200) inset !important;
    -webkit-text-fill-color: var(--color-gray100) !important;
    caret-color: var(--color-gray100) !important;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
