@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #214d35;
  --color-hover-primary: #276e48;
  --color-secondary: #00d084;
  --color-background: #0c151c;
  --color-secondary-background: #1a2332;
  --color-border_primary: #a4a1aa;
  --color-active: #1e3e2c;
}

@layer utilities {
  .bg-gradient {
    background: var(--color-gradient);
    /* -webkit-text-fill-color: transparent; */
  }
}

@layer {
  html {
    height: 100%;
  }

  body {
    height: 100%;
    font-family: 'NanumSquare';
    color: var(--color-white);
    background-color: var(--color-background);
  }
  table,
  th,
  td {
    font-family: 'NanumSquare';
  }
  button {
    font-family: 'NanumSquare';
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
  li {
    list-style: none;
  }
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-bg200) inset !important;
    -webkit-text-fill-color: var(--color-gray100) !important;
    caret-color: var(--color-gray100) !important;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
